# Default ignored files
/../../Vardo.spausd./.idea/shelf/
/../../Vardo.spausd./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Vardo.spausd./.idea/httpRequests/
# Datasource local storage ignored files
/../../Vardo.spausd./.idea/dataSources/
/../../Vardo.spausd./.idea/dataSources.local.xml
